div.modal.in
  form#login
    div.modal-header
      h3 Login
    div.modal-body
      div.alert.alert-error.hide
      input.span7(type="text", name="username", placeholder="Username")
      input.span7(type="password", name="password", placeholder="Password")
    div.modal-footer
      input.btn.btn-primary(type="submit", value="Login")